{% extends '_.html' %}

{% load static %}
{% block main %}
<section class="page-banner">

    <div class="banner-content">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 col-md-8">
                    <h5 class="banner-title">committee
                    </h5>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="our-team">
    <div class="container">
        <div class="row gy-4 align-items-center justify-content-center">
            <div class="col-lg-6">
                <h6 class="main-subtitle">Our Commity Memebers</h6>
                <h5 class="main-title">Commities</h5>
                <p class="team-text">At the heart of our organization lies a vibrant and diverse community of
                    individuals united by shared values and
                    aspirations. Our community members come from all walks of life, contributing unique
                    perspectives, skills, and
                    experiences. They are the driving force behind our mission, fostering collaboration,
                    inclusivity, and growth. Whether
                    they are long-time contributors or new faces, each member plays a vital role in shaping the
                    future of our community.</p>
                <p class="team-text">Through active participation and support, our members engage in meaningful
                    conversations, share valuable insights, and
                    empower one another. Together, they create an environment where innovation thrives,
                    relationships are built, and
                    collective goals are achieved.</p>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="ms-lg-5">
                    <div class="row gy-2 justify-content-around align-items-center">
                        <div class="col-6">
                            <div class="team-card">
                                <div class="team-img">
                                    <img src="{% static './assets/images/t-natarajan.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="team-card mt-5">
                                <div class="team-img">
                                    <img src="{% static './assets/images/aswin.webp' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <h5 class="team-title">Founders</h5>
            <div class="row gy-3 justify-content-center">
                <div class="col-md-4 col-lg-3">
                    <div class="img-box">
                        <a data-fancybox="gallery" href="{% static './assets/images/commitie/kapil-dev.jpg' %}"><img
                                src="{% static './assets/images/commitie/kapil-dev.jpg' %}" alt=""></a>
                    </div>
                    <div class="detail-box">
                        <h5 class="title">Kapil Dev</h5>
                        <h6>CEO , Founder</h6>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="img-box">
                        <a data-fancybox="gallery" href="{% static './assets/images/commitie/Sunny_Gavaskar_Sahara.jpg' %}"><img
                                src="{% static './assets/images/commitie/Sunny_Gavaskar_Sahara.jpg' %}" alt=""></a>
                    </div>
                    <div class="detail-box">
                        <h5 class="title">Sunil Gavaskar</h5>
                        <h6>Co - Founder</h6>
                    </div>
                </div>

            </div>
            <div class="vertical-space-50"></div>
            <h5 class="team-title">Board Of Directors</h5>
            <div class="row gy-3 justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="img-box">
                        <a data-fancybox="gallery" href="{% static './assets/images/commitie/Anil_Kumble.webp' %}"><img
                                src="{% static './assets/images/commitie/Anil_Kumble.webp' %}" alt=""></a>
                    </div>
                    <div class="detail-box">
                        <h5 class="title">Anil Kumble</h5>
                        <h6>Chairman & Managing Director</h6>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="img-box">
                        <a data-fancybox="gallery" href="{% static './assets/images/commitie/sachin-tendulkar.webp' %}"><img
                                src="{% static './assets/images/commitie/sachin-tendulkar.webp' %}" alt=""></a>
                    </div>
                    <div class="detail-box">
                        <h5 class="title">Sachin Tendulkar</h5>
                        <h6>Director</h6>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="img-box">
                        <a data-fancybox="gallery" href="{% static './assets/images/commitie/virender-sehwag.jpg' %}"><img
                                src="{% static './assets/images/commitie/virender-sehwag.jpg' %}" alt=""></a>
                    </div>
                    <div class="detail-box">
                        <h5 class="title">Virender Sehwag</h5>
                        <h6>Director</h6>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="img-box">
                        <a data-fancybox="gallery" href="{% static './assets/images/commitie/gambhir.webp' %}"><img
                                src="{% static './assets/images/commitie/gambhir.webp' %}" alt=""></a>
                    </div>
                    <div class="detail-box">
                        <h5 class="title">Gautam Gambhir</h5>
                        <h6>Director</h6>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="img-box">
                        <a data-fancybox="gallery" href="{% static './assets/images/commitie/baaji.webp' %}"><img
                                src="{% static './assets/images/commitie/baaji.webp' %}" alt=""></a>
                    </div>
                    <div class="detail-box">
                        <h5 class="title">Harbhajan Singh</h5>
                        <h6>Director</h6>
                    </div>
                </div>
                <div class="col-md-12 col-lg-10">
                    <div class="vertical-space-30"></div>
                    <h5 class="team-title">Our Team</h5>
                    <a data-fancybox="gallery" href="{% static './assets/images/team.webp' %}"><img src="{% static './assets/images/team.webp' %}"
                            width="100%" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}