{% extends '_.html' %}

{% load static %}
{% block main %}
<section class="page-banner">

    <div class="banner-content">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 col-md-8">
                    <h5 class="banner-title">Privacy Policy
                    </h5>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="terms-detail">
    <div class="container">
        <h5 class="terms-title">Privacy Policy</h5>
        <p class="terms-text">This document is an electronic record in terms of Information Technology Act, 2000 and
            rules made thereunder and as the
            same may be amended from time to time. Being a system generated electronic record, it does not require
            any physical or
            digital signature.</p>
        <p class="terms-text"> Greetings from Tamilnadu Street Premier League T10 (TSPL) (hereinafter
            referred to as the Website ). The
            Website is owned by Tennisball Cricket Foundation TCF, having its registered address at ———————.</p>

        <p class="terms-text"> By accessing the Website from any computer, computer device, mobile, smartphone or
            any electronic device, you expressly
            agree to be bound by this Privacy Policy (hereinafter referred to as the Privacy Policy ).</p>


        <p class="terms-text"> By accessing the Website from any computer, computer device, mobile, smartphone or
            any electronic device, you expressly
            agree to be bound by this Privacy Policy (hereinafter referred to as the Privacy Policy ).</p>


        <h6 class="terms-subtitle">What information do we collect :</h6>



        <p class="terms-text"> When you use the Website, we collect your personal and non-personal information. Your
            personal information helps us to
            collect information that can directly identify you such as your name, address, email address, phone
            number ("personal
            information"). We also collect your non-personal information that does not directly identify you. By
            using the Website,
            you are authorizing us to collect, parse, store, process, disclose, disseminate and retain such
            information as envisaged
            herein. Your personal information shall not be made public or made available to other users without your
            explicit
            permission.
        </p>


        <p class="terms-text">When you use the Website, you may be asked to allow us to collect your location
            information from the device/computer
            when you use the Website. In addition, we may collect and store any personal information you provide
            while using our
            Website or in some other manner. If you contact us for customer service or other inquiry, you provide us
            with the
            content of that communication.</p>


        <p class="terms-text">If you place an order for any products or services from the Website, we collect
            information that you provide to us such
            as your contact and postal details, shipping, billing, and payment information (such as credit card,
            debit card or bank
            account details). You may also have the option to store credit card, debit card or other payment
            information to make it
            easier to purchase products or avail services from our Website in the future.</p>

        <p class="terms-text">If you place an order for any products or services from the Website, we collect
            information that
            you provide to us such
            as your contact and postal details, shipping, billing, and payment information (such as credit card,
            debit card or
            bank
            account details). You may also have the option to store credit card, debit card or other payment
            information to make
            it
            easier to purchase products or avail services from our Website in the future.</p>


        <p class="terms-text">We neither knowingly collect any information nor promote our Website to any minor
            under the age of 18 (eighteen) years.
            If you are less than 18 (eighteen) years old or a minor in any other jurisdiction from where you access
            our Website, we
            request that you do not submit information to us. If we become aware that a minor has registered with us
            and provided us
            with personal information, we may take steps to terminate such persons registration and delete their
            account with us.
            We use various tools and technologies, including cookies, to collect your personal information and
            non-personal
            information from the device from which you access the Websites and learn about your activities taking
            place under your
            account when you use our Website. Such non-personal information could include your IP address, device ID
            and type, your
            browser type and language, operating system used by your device, access times, your device/computer
            geographic location
            and the referring website address. We may use web beacons and other similar technologies to track your
            use of our
            Website and to deliver or communicate with cookies.</p>


        <p class="terms-text"> How we use the information we collect</p>

        <h6 class="terms-subtitle">We may use information that we collect from you to:</h6>

        <p class="terms-text"> deliver and improve our products and services, and manage our business;
            manage your account and provide you with customer support;
            perform research and analysis about your use of, or interest in, our or other users products, services,
            or content or
            such products, services, or content as may be available on or through the Website;
            communicate with you by email, postal mail, telephone and/or mobile devices about products or services
            that may be of
            interest to you either from us or other users or such products, services, or content as may be available
            on or through
            the Website;
            develop, display, and track content and advertising tailored to your interests on our Website;
            perform website or mobile application analytics;
            enforce or exercise any rights in our Website Terms and Conditions available at the link
            <a href=" https://TSPL-t10.com/terms-condition">https://TSPL-t10.com/terms-condition</a> ;
            perform functions or services as otherwise described to you at the time of collection; and
            resolve disputes, troubleshoot problems, detect and protect us against any activity not expressly
            authorized under the
            Website Terms & Conditions available at the link <a
                href="https://TSPL-t10.com/terms-condition">https://TSPL-t10.com/terms-condition</a>
            With whom we share your information
            When you register with our Website, your profile details (or information you have provided us directly
            or through your
            social media login account, if permitted) may be accessible and viewable by other Website users.
            We do not share your personal information with others except as indicated in this Privacy Policy or
            unless you have
            opted to reveal your personal information in your profile on the Website.
        </p>

        <p class="terms-text">We may also disclose your personal information (i) for complying with applicable laws,
            requests or orders from law
            enforcement agencies, appropriate authorities (such as without limitation, child protection agencies,
            court officials,
            expert professional investigative agencies and the like) or for any legal process; (ii) for enforcing
            the Website Terms
            and Conditions available at the link <a
                href="https://TSPL-t10.com/terms-condition">https://TSPL-t10.com/terms-condition</a> (iii) for
            protecting or defending ours, any
            Website users or any third party's rights or property; (iv) for supporting any fraud/ legal
            investigation/ verification
            checks; or (v) in connection with a corporate transaction, including but not limited to sale of our
            business, merger,
            consolidation, or in the unlikely event of bankruptcy.</p>


        <p class="terms-text"> We may use and share your non-personal information we collect under any of the above
            circumstances, including with third
            parties to develop and deliver targeted advertising on our Website and on websites and/or applications
            of third parties,
            and to undertake analysis thereof. We may combine non-personal information we collect with additional
            non-personal
            information collected from other sources. We also may share aggregated, non-personal information, or
            personal
            information in hashed, non-human readable form, with third parties, including advisors, sponsors,
            advertisers and
            investors, for the purpose of conducting general business analysis or other business purposes.</p>



        <p class="terms-text"> How can you access or control your information
            If you have a Website account with us, you can review and update your personal information by opening
            and editing your
            profile details. In addition, we give you the control to opt out of having your personal information
            shared, via the
            Website settings. If you logout of your Website account, we may retain certain information associated
            with your account
            for analytical purposes and recordkeeping purposes or as required by law, as well as to prevent fraud,
            enforce our
            Website Terms and Conditions available at the link <a
                href="https://TSPL-t10.com/terms-condition">https://TSPL-t10.com/terms-condition</a>, take actions
            we deem necessary
            to protect the integrity of our Website or other Website users, or take other actions otherwise
            permitted by law. In
            addition, if certain information has already been provided to third parties as described in this Privacy
            Policy,
            retention of that information will be subject to those third parties' policies.</p>


        <p class="terms-text"> You can choose not to provide us with certain information; however this may result in
            you being unable to use certain
            features of our Website. Our Website may also deliver notifications to your email and/or mobile device.
            You can disable
            these notifications by changing your Website account settings.</p>


        <p class="terms-text"> How do we protect your personal information
            We adopt reasonable security practices and procedures to help safeguard your personal information under
            our control from
            unauthorized access. However, you acknowledge that no Internet transmission or system or server can be
            100% secure.
            Therefore, although we take all reasonable steps to secure your personal information, we do not promise
            or guarantee the
            same, and you should not expect that your personal information, or other communications while using the
            Website will
            always remain secure and safeguarded by us. You should always exercise caution while providing, sharing
            or disclosing
            your personal information using the Website.</p>


        <h6 class="terms-subtitle">Children's Privacy</h6>

        <p class="terms-text">Although our Website is a general audience Website, we try our best to restrict the
            use of our Website to individuals
            aged 18 (eighteen) years and above. We do not knowingly collect, maintain or use personal information
            from children
            under the age of 18 (eighteen) years.</p>

        <h6 class="terms-subtitle">Changes to this Privacy Policy</h6>

        <p class="terms-text">We may occasionally update this Privacy Policy. When we post changes to this Privacy
            Policy, we will revise the "last
            updated" date. We recommend that you check our Website from time to time to keep yourself updated of any
            changes in this
            Privacy Policy or any of our other Website related terms and policies.</p>


        <h6 class="terms-subtitle">Grievance Officer</h6>

        <p class="terms-text">In accordance with Information Technology Act, 2000 and rules made there under, the
            name and contact details of the
            Grievance Officer are provided below:</p>

        <p class="terms-text">Following termination of these Terms, we will only retain and use your content in
            accordance with these Terms.</p>




        <p class="terms-text"><b>Name:</b> Divya</p>
        <p class="terms-text"><b>Email:</b> support@TSPL-t10.com</p>
        <p class="terms-text"><b>Contact Us :</b>
            Please contact us by email on support@TSPL-t10.com for any questions or comments regarding these Terms
            or pertaining to
            the Website.</p>
    </div>
</section>

{% endblock %}