asgiref==3.8.1
diff-match-patch==20241021
Django==5.1.4
django-import-export==4.3.3
et_xmlfile==2.0.0
gunicorn==23.0.0
packaging==24.2
pillow==11.0.0
psycopg2==2.9.10
python-dotenv==1.0.1
sqlparse==0.5.3
tablib==3.7.0
whitenoise==6.8.2
