asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
diff-match-patch==20241021
Django==5.1.4
django-import-export==4.3.3
et_xmlfile==2.0.0
gunicorn==23.0.0
idna==3.10
packaging==24.2
paytm==0.1.8
pillow==11.0.0
psycopg2==2.9.10
pycrypto==2.6.1
python-dotenv==1.0.1
razorpay==1.4.2
requests==2.32.3
setuptools==75.6.0
sqlparse==0.5.3
tablib==3.7.0
urllib3==2.3.0
whitenoise==6.8.2
