{% extends '_.html' %}

{% load static %}
{% block main %}
<section class="page-banner">

    <div class="banner-content">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 col-md-8">
                    <h5 class="banner-title">About Us
                    </h5>
                </div>

            </div>
        </div>
    </div>
</section>



<section class="about-detail counter-section">
    <img src="{% static './assets/images/about-shape-4.webp' %}" class="pencil-img" alt="">
    <div class="container">
        <div class="row gy-5 justify-content-center align-items-center">
            
            <div class=" col-lg-6 col-md-12 order-0 order-lg-1">
                <h5 class="main-subtitle wow fadeInUp" data-wow-delay="0.3s">About Company</h5>

                <h4 class="main-title wow fadeInUp" data-wow-delay="0.4s">Transforming Tamilnadu Cricket: The Rise
                    of TSPL</h4>
                <p class="about-text wow fadeInUp" data-wow-delay="0.5s">Tamilnadu Street Premier League
                    (TSPL) is a premier sports organization committed to advancing softball
                    cricket throughout Tamilnadu. Founded by Tennis ball Cricket federation, TSPL aims to create
                    a thriving platform for
                    aspiring cricketers, providing avenues for skill development, competitive play, and community
                    engagement. The
                    association's flagship event, the Tamilnadu Street Premier League (TSPL), showcases
                    top talent from across
                    Tamilnadu, with 16 teams representing 36 districts. Known for its grand events, including
                    franchise launches,
                    celebrity-backed player auctions, and live telecasts, TSPL is dedicated to enriching
                    Tamilnadu's cricket culture.</p>
                <p class="about-text wow fadeInUp" data-wow-delay="0.6s">By promoting inclusivity and collaboration,
                    TSPL creates opportunities for
                    players, coaches, and officials alike. Each
                    season welcomes new talents, enabling diverse communities to come together under the banner of
                    cricket.</p>
            </div>
        </div>
    </div>
</section>

<section class="about-detail counter-section">
    <img src="{% static './assets/images/about-shape-4.webp' %}" class="pencil-img" alt="">
    <div class="container">
        <div class="row gy-5 justify-content-center align-items-center">

            <div class=" col-lg-6 col-md-12 ">

                <h4 class="main-title wow fadeInUp" data-wow-delay="0.4s">Empowering Local Talent: The TSPL Journey
                    Begins</h4>
                <p class="about-text wow fadeInUp" data-wow-delay="0.5s">TSPL's commitment to excellence extends
                    beyond the pitch, fostering an environment where emerging talent and seasoned
                    players unite. With a focus on professionalism, integrity, and sportsmanship, TSPL serves as a
                    beacon for tennisball
                    cricket enthusiasts. By blending grassroots development with large-scale tournaments, TSPL
                    bridges the gap between
                    recreational play and competitive cricket, offering a pathway for Tamilnadu's cricketers to
                    shine on a larger stage.</p>
                <p class="about-text wow fadeInUp" data-wow-delay="0.6s">At the heart of TSPL lies a mission to
                    inspire the youth and celebrate the spirit of cricket. Through structured
                    leagues, mentoring programs, and opportunities to compete at elite levels, TSPL empowers
                    players to reach their full
                    potential. The league's innovative approach, including cutting-edge facilities, fair play
                    policies, and state-wide
                    representation, positions it as a catalyst for revolutionizing tennisball cricket in Tamilnadu.
                </p>
                <p class="about-text wow fadeInUp" data-wow-delay="0.7s">TSPL has rapidly evolved into a landmark
                    event, capturing the imagination of cricket fans across Tamilnadu. Its dynamic
                    format, combined with thrilling matches and star-studded occasions, makes it a spectacle like no
                    other.
                </p>
            </div>
            <div class="col-lg-6 col-md-8 ">
                <img src="{% static './assets/images/about.png' %}" width="100%" alt="">
            </div>
        </div>

    </div>
</section>

{% endblock %}